.whLogin{
    height: 100vh;
    overflow: hidden;
}

.bgImage{
    height: 100%;
    width: 100%;
}

.subContainer {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 7.5%;
}

.googleElement {
    height: 40px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(4,70,121,255);
    font-weight: bold;
}

.googleElement img {
    height: 100%;
}

.formContainer {
    width: 100%;
}

.formContainer .lineContainer {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.formContainer .lineContainer .textData {
    margin-left: 8px;
    margin-right: 8px;
}

.formContainer .whiteLine {
    background-color: white;
    width: 80%;
    height: 3px;
}

.formContainer label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 3%;
    width: 100%;
}

.formContainer input {
    width: 100%;
    height: 40px; 
    display: block;
    background-color: rgba(4,70,121,255);
    border-radius: 20px;
    padding: 10px; 
    border: none; 
    color: white; 
    font-size: 16px; 
}


.formContainer .formElement {
    margin: 5% 0%;
    width: 100%;
    height: 50%;
}

.submitButton {
    margin-top: 5%;
    padding: 3% 4%;
    background-color: rgba(4,70,121,255);
}

.switch {
    color: rgba(5,167,255,255);
}

.imageContainer1 {
    position: absolute;
    top: 3%; 
    right: 3%; 
}
  
.imageContainer1 img {
    width: 100%; 
    height: 100%;
}

.imageContainer2 {
    position: absolute;
    top: 3%; 
    left: 3%; 
}
  
.imageContainer2 img {
    width: 70%; 
    height: 70%;
}

.techspardha {
    position: absolute;
    top: 5%; 
    left: 12%; 
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
  
