.whSignup{
    height: 100vh;
    overflow: hidden;
}

.bgImage{
    height: 100%;
    width: 100%;
}

.subContainer {
    width: 22%;
    position: absolute;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: white;
    top: 20%;
}

.textContainer {
    font-size: 2rem;
    margin-bottom: 7.5%;
}

.googleElement{
    height: 40px;
    width: 100%;
}

.formContainer{
    width: 100%;

    .lineContainer{
        margin-top: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .textData{
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .whiteLine{
        background-color: white;
        width: 80%;
        height: 3px;
    }

    label{
        display: block;
        text-align: left;
    }
    /* input{ */
        /* height: 30px;
        display: block; */
    /* } */

    .formElement{
        margin: 3% 0%;
        width: 100%;
    }

    margin-bottom: 15px;
}

.extraContainer{
    
}

.switch {
    color: rgba(5,167,255,255);
}


input{
    border-radius: 20px;
}

button{
    border-radius: 20px;
}


.imageContainer1 {
    position: absolute;
    top: 3%; 
    right: 3%; 
}
  
.imageContainer1 img {
    width: 100%; 
    height: 100%;
}

.imageContainer2 {
    position: absolute;
    top: 3%; 
    left: 3%; 
}
  
.imageContainer2 img {
    width: 70%; 
    height: 70%;
}

.techspardha {
    position: absolute;
    top: 5%; 
    left: 10%; 
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
