* {
    box-sizing: border-box;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    /* background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%); */
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* padding: 2rem; */
    height: 40%;
    width: 30%;
    
    background-color: rgba(11, 11, 68, 0.1);
    box-shadow: 2px 2px 4px 2px rgba(239, 238, 238, 0.3);
    border-radius: 20px;
}

.para{
    font-weight: 700;
    font-size: 22px;
    color: #3731d7;
}

form{
    display: flex;
    width: 250px;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

label{
    align-self: flex-start;
}

input{
    align-self: flex-start;
    width: 100%;
    cursor: default;
}
